<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDFx-Merge</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="Heading">
        <h1 class="Heading-h1">PDFx - Your Favourite PDF Merger Tool</h1>
      </div>
      <form action="/merge" enctype="multipart/form-data" method="post" id="mergeForm" >
        <div class="input">
          <div id="dropZone" class="drop-zone">
            <p>Drag & Drop PDFs here or click to select</p>
            <input type="file" name="pdfs" class="input-file" id="fileInput" multiple accept=".pdf" hidden />
          </div>
        </div>
        <ul id="fileList"></ul>
        <div class="button">
          <button class="submit-button" type="submit">Submit</button>
          <div id="errorMessage" style="color: red; margin-top: 10px;"></div>
        </div>
      </form>
    </div>
    <script src="/static/js/script.js"></script>
  </body>
</html>
